
/* personlizacion de encabezado */
.logo-pequeño {
    width: 300px;
    height: 200px;
    animation: slideImg 2s ease-out;
}
@keyframes slideImg {
    from {transform: translateX(-100%); opacity: 0;}
    to {transform: translateX(0); opacity: 1;}
}
ul li {
    display: inline-block;
    list-style: none;
    padding: 6px 30px;
    font-weight: 1000;
    font-size: 1.5rem;
    transition: all 0.3s ease 0s;
    cursor: pointer;


}

a {
    color: white;
}

ul li:hover {
    /* Cuando se vaya a usar la etiqueta (hover) usarlajunta no separada. */
    border-radius: 30px;
    /* El (border-radius controla los bordes,de ser cuadrados a ser redondos. )*/
    background-color: red;
    color: white;
}
main {
    height: 100vh;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    background-image: url(../IMG/fomdo-cuadrados.jpg);
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    position: relative;
}

nav {
    width: 100%;
    display: flex;
    /* controla todo lo que esta dentro del navel estillo de,inicio,pijama de niños,pijama de niñas,referencias y acerca de nosotros. */
    align-items: center;
    /* posicion,px de distancia,espacio,alineacion. */
    justify-content: space-between;
    padding: 10px 50px;
}
