* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: cursive;
}

html {
    font-size: 80%;
    /* Controla el tamalo de todo lo que esta dentro de html.*/
}

.text-matrix {
  font-size: 16px;
  animation: slideIn 2s ease-out; /* Controla la animacion de deslizamiento*/
  text-shadow: 10px 10px 10px rgb(204, 0, 255); /* Crea una sombra en el texto*/
  color: white;
}

@keyframes slideIn {  /* para crear animaciones complejas definiendo una secuencia de estilos para un elemento en diferentes puntos de tiempo*/
    from {transform: translateX(-100%); opacity: 0;}    /* - para salir desde la izquierda y el positivo para salir de derecha*/
    to {transform: translateX(0); opacity: 1;}
}
.text-matrix1 {
  font-size: 16px;
  animation: slide2 2s ease-out; /* Controla la animacion de deslizamiento*/
  text-shadow: 0 0 5px rgb(153, 0, 255); /* Crea una sombra en el texto*/
  color: white;
}

@keyframes slide2 {
    from{transform: translateY(-100%); opacity: 0;}
    to {transform: translateY(0);opacity: 1;}
}
.text-matrix2 {
  font-size: 16px;
  animation: slide3 2s ease-out; /* Controla la animacion de deslizamiento*/
  text-shadow: 0 0 5px red; /* Crea una sombra en el texto*/
  color: white;
}

@keyframes slide3 {
    from{transform: translateY(-100%); opacity: 0;}
    to {transform: translateY(0);opacity: 1;}
}
.text-matrix3 {
  font-size: 16px;
  animation: slide4 2s ease-out; /* Controla la animacion de deslizamiento*/
  text-shadow: 0 0 5px red; /* Crea una sombra en el texto*/
  color: white;
}

@keyframes slide4 {
    from{transform: translateY(-100%); opacity: 0;}
    to {transform: translateY(0);opacity: 1;}
}



.logo-peque単o {
    width: 300px;
    height: 200px;
    animation: slideImg 2s ease-out;
}
@keyframes slideImg {
    from {transform: translateX(-100%); opacity: 0;}
    to {transform: translateX(0); opacity: 1;}
}

main {
    height: 100vh;
    width: 100%;
    background-image: url(../IMG/imagen-fondo.png);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background-size: auto;
    font-weight: weight;
    font-style: normal;
    position: relative;
}

nav {
    width: 100%;
    display: flex;
    /* controla todo lo que esta dentro del navel estillo de,inicio,pijama de ni単os,pijama de ni単as,referencias y acerca de nosotros. */
    align-items: center;
    /* posicion,px de distancia,espacio,alineacion. */
    justify-content: space-between;
    padding: 10px 50px;
}

ul li {
    display: inline-block;
    list-style: none;
    padding: 6px 30px;
    /* controla solamente estilo de inicio,pijama de nilos,pijama de ni単as,referencias,acerca de nosotros. */
    font-weight: 1000;
    font-size: 1.5rem;
    transition: all 0.3s ease 0s;
    cursor: pointer;

}

a {
    color: white;
    text-decoration: none;
}

ul li:hover {
    /* Cuando se vaya a usar la etiqueta (hover) usarlajunta no separada. */
    border-radius: 30px;
    /* El (border-radius controla los bordes,de ser cuadrados a ser redondos. )*/
    background-color: rgb(204, 0, 255);
    color: white;
}

.actividad1 {
    background-color: rgb(204, 0, 255);
    margin: 10px;
    padding: 10px;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 50px;
    transition: 0.5s;
    cursor: pointer;
}
.actividad1:hover{
    background-color: darkgray;
    transform: scale(1.5);
}
.actividad2 {
    background-color: rgb(204, 0, 255);
    margin: 10px;
    padding: 10px;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 50px;
    transition: 0.5s;
    cursor: pointer;
}
.actividad2:hover{
    background-color: darkgray;
    transform: scale(1.5);
}

.actividad3 {
    background-color: rgb(204, 0, 255);
    margin: 10px;
    padding: 10px;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 50px;
    transition: 0.5s;
    cursor: pointer;
}
.actividad3:hover{
    background-color: darkgray;
    transform: scale(1.5);
}
.actividad4 {
    background-color: rgb(204, 0, 255);
    margin: 10px;
    padding: 10px;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 50px;
    transition: 0.5s;
    cursor: pointer;
}
.actividad4:hover{
    background-color: darkgray;
    transform: scale(1.5);
}

.actividad5 {
    background-color: rgb(204, 0, 255);
    margin: 10px;
    padding: 10px;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 50px;
    transition: 0.5s;
    cursor: pointer;
}
.actividad5:hover{
    background-color: darkgray;
    transform: scale(1.5);
}
